.first-table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  table-layout: fixed;
  text-align: center;
  font-size: 17px;
}

.second-table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  table-layout: fixed;
  text-align: center;
  font-size: 17px;
}
tr,
th,
td {
  padding: 15px;
}
th {
}
td {
  border: 1px solid black;
}

.month {
  text-align: center;
  background: yellow;
  letter-spacing: 3px;
  padding: 25px;
}
